---
import { getIcon } from "simple-icons";

// Props: icon name and optonal size

export interface Props {
  name: string;
  size?: string;
  color?: string;
}

const { name, size = "24", color = "currentColor" } = Astro.props;
const icon = getIcon(name.toLowerCase());
---

{
  icon ? (
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width={size}
      height={size}
      viewBox={`0 0 ${icon.width} ${icon.height}`}
      fill={color}
      aria-label={icon.title}
    >
      <path d={icon.path} />
    </svg>
  ) : (
    <span>Error: Icono no encontrado.</span>
  )
}
